{$COLLABHUB_HOST} {
  encode zstd gzip

  reverse_proxy gateway:7000 {
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }

  log {
    output stdout
    format json
  }
}
